body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, tr, th, td, img {
    padding: 0;
    margin: 0;
    font-size: 14px
}

body {
    background: #fff;
    font-size: 14px;
    font-family: arial,'微软雅黑','Microsoft Yahei','Hiragino Sans GB','宋体',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti;
    color: #333
}

a {
    text-decoration: none;
    outline: none;
    color: #333
}

.error_404 {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

    .error_404 .inner {
        width: 897px;
        height: 404px;
        margin: 0 auto;
        padding: 40px 0 60px;
        background: url(/Img/404_bg.jpg) no-repeat center center;
        position: relative
    }

        .error_404 .inner a {
            position: absolute;
            display: block;
            width: 172px;
            height: 48px;
            line-height: 48px;
            font-size: 18px;
            background: #43B4E8;
            text-align: center;
            color: #fff;
            border-radius: 5px;
            right: 240px;
            bottom: 114px
        }

            .error_404 .inner a:hover {
                background: #0099E5
            }
