
@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    function Sava() {
        var oldPassword = $("#oldPassword").val().trim();
        var password = $("#password").val().trim();
        var repassword = $("#repassword").val().trim();
        if (oldPassword == '' || password == '' || repassword == '') {
            Mmsg("必填项不能为空！");
            return false;
        }
        if (password.Length < 6 || password.Length > 16) {
            Mmsg("密码必须为6到16个字符！");
            return false;
        }
        if (password != repassword) {
            Mmsg("2次密码必须一致！");
            return false;
        }
        layer.load(2);
        $.ajax({
            url: "/Account/Click_Login",
            type: "POST",
            data: { oldPassword: oldPassword, repassword: repassword },
            success: function (result) {
                layer.closeAll('loading');
                if (result.res) {
                    Mmsg("操作成功！");
                } else {
                    Mmsg(result.info);
                }

            }, error: function (err) {
                layer.closeAll('loading');
                layer.msg('系统繁忙，请稍后再试 ！');
            }

        })
    }
</script>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" id="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" id="repassword" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="Sava();">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
