
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="demoTable" style="margin-left: 25%;margin-top:10px;">
    <div class="layui-inline" id="name" style="font-size:15px;font-weight:600;">
        输入框：
    </div>
    <div class="layui-inline" style="width: 30%;margin-left: 5px;margin-right: 5px;">
        <input class="layui-input" id="text" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<div style="margin-left:2%;margin-top:12px;width:96%">
    <table class="layui-hide" id="table" lay-filter="test"></table>
</div>

@section scripts{
    <script src="~/js/CommonHelp.js?4"></script>
    <script type="text/javascript">

        var callbackdata = function () {
            var table = layui.table;
            var obj = $("#table");
            var checkStatus = table.checkStatus('testReload');
            var data = checkStatus.data;
            return data;
        }
        $(function () {
            var Type = GetQueryString("Type");
            var Url = GetQueryString("Url");
            var dataStr = decodeURI(GetQueryString("data"));
            var data = JSON.parse(dataStr);
            $("#name").html(data.title + "：");
            data.text = "";
            layui.use('table', function () {
                var table = layui.table, form = layui.form;
                table.render({
                    id: "testReload",
                    method: "post",
                    elem: '#table'
                    , url: Url
                    , limits: [10, 50, 100, 500, 800, 1000]
                    , cols: [Getcols(Type)]
                    , done: function (res, page, count) {
                        console.log(res, page, count);
                        //可以自行添加判断的条件是否选中
                        //这句才是真正选中，通过设置关键字LAY_CHECKED为true选中，这里只对第一行选中
                        Getdone(Type, res);
                    }
                    , where: {
                        data: data
                    }
                    , page: true
                    , response: {
                        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                    }
                    , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                        return {
                            "code": res.status, //解析接口状态
                            "msg": res.message, //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.rows //解析数据列表
                        };
                    }
                });
                var $ = layui.$, active = {
                    reload: function () {
                        var demoReload = $('#text');

                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            , where: {
                                data: { "text": demoReload.val() }
                            }
                        });
                    }
                };

                $('.demoTable .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });

        })
    </script>
}

