
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
</head>
<body>
    <img src="~/Img/Login-bg.jpg"  style="width:100%;"/>
</body>
</html>
