
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<form class="layui-form" action="">
    <input type="hidden" id="Id" value="">
    <div class="layui-row" style="margin-top:40px;"></div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">父节点</label>
                <div class="layui-input-block">
                    <ul id="ParentId" class="dtree" data-id="0"></ul>
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入菜单名称" class="layui-input" id="Name">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">链接地址</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入链接地址" class="layui-input" id="LinkAddress">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">

                <label for="" class="layui-form-label">选择图标</label>
                <div class="layui-input-block">
                    <input type="text" id="iconPicker" lay-filter="iconPicker" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>

</form>
<div class="layui-row" style="margin-top:30px;">
    <div class="layui-col-xs3">&nbsp;</div>
    <div class="layui-col-xs4">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" onclick="Sava();"> 保存</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/lib/dtree/dtree/font/dtreefont.css" rel="stylesheet" />
    <link href="~/lib/dtree/dtree/dtree.css" rel="stylesheet" />
    @*<script src="~/js/iconPicker.js"></script>*@
    @*<script src="~/js/iconPicker.js"></script>*@
    <script>
        var state = GetQueryString("state");
        layui.config({
            base: ''
        }).extend({
            iconPicker: '/js/iconPicker',
            dtree: '/lib/dtree/dtree/dtree'
        });
        //layui.extend({
        //    dtree: '/lib/dtree/dtree/dtree'
        //}).use(['dtree'], function () {
        //    var element = layui.element,
        //        layer = layui.layer,
        //        form = layui.form,
        //        dtree = layui.dtree,
        //        $ = layui.$;
        //    dtree.renderSelect({
        //        elem: "#ParentId",
        //        url: "/Home/GetRole_authorization",
        //        done: function () {
        //            //  dtree.dataInit("selTree3", "001003");
        //            //  dtree.setSelectValue("selTree3"); // 也可以在这里指定，第二个参数如果不填，则会自动读取
        //        }
        //    });
        //    dtree.on("node('ParentId')", function (obj) {
        //        $("#ParentId").val(obj.param.nodeId);
        //    });
        //});
        $(function () {

            layui.use(['iconPicker'], function () {
                var iconPicker = layui.iconPicker;
                iconPicker.render({
                    // 选择器，推荐使用input
                    elem: '#iconPicker',
                    // 数据类型：fontClass/unicode，推荐使用fontClass
                    type: 'fontClass',
                    // 是否开启搜索：true/false
                    search: false,
                    // 是否开启分页
                    page: true,
                    // 每页显示数量，默认12
                    limit: 12,
                    // 点击回调
                    click: function (data) {
                        console.log(data);
                        $("#iconPicker").val(data.icon)
                    }
                });
            });
            if (state == "Edit") {
                var Id = GetQueryString("Id");
                var data = {
                    Id: Id
                };
                $.ajax({
                    type: "POST",
                    url: "/Home/GetMenuList",
                    async: false,
                    data: {
                        data: data,
                        page: 1,
                        limit: 1
                    },
                    success: function (data) {
                        console.log(data);
                        Info = data.rows[0];
                        $("#Id").val(Info.id);
                        $("#Name").val(Info.name);
                        $("#LinkAddress").val(Info.linkAddress);
                        $("#iconPicker").val(Info.icon);

                        layui.use(['dtree'], function () {
                            var dtree = layui.dtree;
                            dtree.renderSelect({
                                elem: "#ParentId",
                                url: "/Home/GetRole_authorization",
                                done: function () {
                                    dtree.dataInit("ParentId", Info.parentId);
                                    dtree.setSelectValue("ParentId");
                                    $("#ParentId").val(Info.parentId);
                                }
                            });
                            dtree.on("node('ParentId')", function (obj) {
                                $("#ParentId").val(obj.param.nodeId);
                            });

                        });
                        $("#ParentId").val(Info.parentId);
                        layui.use(['iconPicker'], function () {
                            var iconPicker = layui.iconPicker;
                            iconPicker.checkIcon('iconPicker', Info.icon);
                        });
                    },
                    error: function (jqXHR) {
                        console.log("Error: " + jqXHR.status);
                    }
                });
            } else {
                layui.use(['dtree'], function () {
                    var dtree = layui.dtree;
                    dtree.renderSelect({
                        elem: "#ParentId",
                        url: "/Home/GetRole_authorization",
                        done: function () {
                        }
                    });
                });
            }
        })

        function Sava() {
            if ($("#ParentId").val().trim() == '') {
                Mmsg('父节点为必填项！');
                return false;
            }
            if ($("#Name").val().trim() == '') {
                Mmsg('菜单名称为必填项！');
                return false;
            }
            if ($("#LinkAddress").val().trim() == '') {
                Mmsg('链接地址为必填项！');
                return false;
            }
            var data = {
                Id: $("#Id").val(),
                Name: $("#Name").val().trim(),
                ParentId: $("#ParentId").val(),
                LinkAddress: $("#LinkAddress").val(),
                 Icon: $("#iconPicker").val()
            };
            $.ajax({
                type: "POST",
                url: "/Home/SavaMenu?state=" + state,
                data: { data: data },
                success: function (result) {
                    console.log(data);
                    if (result.res) {
                        Mmsg("操作成功!");
                        window.parent.layer.closeAll();//关闭弹窗
                    } else {
                        Mmsg("提交失败:" + result.info + "!");
                    }
                },
                error: function (result) {
                    Mmsg("出错，错误信息：" + result.data);
                    console.log("Error: " + result);
                }
            });
        }
    </script>

}



