
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<form class="layui-form" action="">
    <input type="hidden" id="Id" value="">
    <div class="layui-row" style="margin-top:40px;"></div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">父节点</label>
                <div class="layui-input-block">
                    <ul id="ParentId" class="dtree" data-id="0"></ul>
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入菜单名称" class="layui-input" id="Name">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="IsMenu" value="1" title="菜单" checked="">
                    <input type="radio" name="IsMenu" value="0" title="按钮">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row Buttons">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">按钮ID</label>
                <div class="layui-input-block">
                    <input type="text" name="ButtonId" lay-verify="ButtonId" autocomplete="off" placeholder="请输入按钮ID" class="layui-input" id="ButtonId">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row Buttons">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">按钮样式</label>
                <div class="layui-input-block">
                    <input type="text" name="ButtonCss" lay-verify="ButtonCss" autocomplete="off" placeholder="请输入按钮样式" class="layui-input" id="ButtonCss">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row Buttons">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">按钮事件</label>
                <div class="layui-input-block">
                    <input type="text" name="ButtonClick" lay-verify="ButtonClick" autocomplete="off" placeholder="请输入按钮事件" class="layui-input" id="ButtonClick">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>

    <div class="layui-row LinkAddressDiv">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">
                <label class="layui-form-label">链接地址</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入链接地址" class="layui-input" id="LinkAddress">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs1">&nbsp;</div>
        <div class="layui-col-xs10">
            <div class="layui-form-item">

                <label for="" class="layui-form-label">选择图标</label>
                <div class="layui-input-block">
                    <input type="text" id="icon" lay-filter="icon" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">&nbsp;</div>
    </div>

</form>
<div class="layui-row" style="margin-top:30px;">
    <div class="layui-col-xs3">&nbsp;</div>
    <div class="layui-col-xs4">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" onclick="Sava();"> 保存</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden"  id="level" value=""/>
@section scripts{
    <link href="~/lib/dtree/dtree/font/dtreefont.css" rel="stylesheet" />
    <link href="~/lib/dtree/dtree/dtree.css" rel="stylesheet" />
    <script>
        var state = GetQueryString("state");
        layui.config({
            base: ''
        }).extend({
            iconPicker: '/js/iconPicker',
            dtree: '/lib/dtree/dtree/dtree'
            });
  
        $(function () {

            layui.use(['form'], function () {
                var form = layui.form;
                form.on('radio', function (data) {
                    console.log(data.value); //被点击的radio的value值
                    if (data.value == 1) {
                        $(".LinkAddressDiv").css("display", "");
                        $(".Buttons").css("display", "none");
                        $("#ButtonId").val('');
                        $("#ButtonCss").val('');
                        $("#ButtonClick").val('');
                        
                    } else {
                        $(".LinkAddress").val('');
                        $(".LinkAddressDiv").css("display", "none");
                        $(".Buttons").css("display", "");
                    }
                });
            });
            if (state == "Edit") {
                var Id = GetQueryString("Id");
                var data = {
                    Id: Id
                };
                $.ajax({
                    type: "POST",
                    url: "/Home/GetMenuList",
                    async: false,
                    data: {
                        data: data,
                        page: 1,
                        limit: 1
                    },
                    success: function (data) {
                        Info = data.data[0];
                        $("#Id").val(Info.id);
                        $("#Name").val(Info.name);
                        $("#LinkAddress").val(Info.linkAddress);
                        $("#icon").val(Info.icon);
                        $("input:radio[value='" + Info.isMenu + "']").attr('checked', 'true');
                        if (Info.isMenu == "1") {
                            $(".LinkAddressDiv").css("display", "");
                            $(".Buttons").css("display", "none");
                        } else {
                            $(".LinkAddressDiv").css("display", "none");
                            $(".Buttons").css("display", "");
                        }
                        $("#ButtonId").val(Info.buttonId);
                        $("#ButtonCss").val(Info.buttonCss);
                        $("#ButtonClick").val(Info.buttonClick);
                        $("#level").val(Info.menuType);
                        layui.use(['dtree'], function () {
                            var dtree = layui.dtree;
                            dtree.renderSelect({
                                elem: "#ParentId",
                                url: "/Home/GetMenuBysystem",
                                done: function () {
                                    dtree.dataInit("ParentId", Info.parentId);
                                    dtree.setSelectValue("ParentId");
                                    $("#ParentId").val(Info.parentId);
                                }
                            });
                            dtree.on("node('ParentId')", function (obj) {
                                $("#ParentId").val(obj.param.nodeId);
                                $("#level").val(obj.param.level);
                            });

                        });
                        $("#ParentId").val(Info.parentId);

                        layui.use(['iconPicker'], function () {
                            iconPickerrender();
                            var iconPicker = layui.iconPicker;
                            iconPicker.checkIcon('icon', Info.icon);
                        });
                    },
                    error: function (jqXHR) {
                        console.log("Error: " + jqXHR.status);
                    }
                });
            }
            else {
                $(".Buttons").css("display", "none");
                iconPickerrender();
                layui.use(['dtree'], function () {
                    var dtree = layui.dtree;
                    dtree.renderSelect({
                        elem: "#ParentId",
                        url: "/Home/GetMenuBysystem",
                        done: function () {
                        }
                    });
                    dtree.on("node('ParentId')", function (obj) {
                        $("#ParentId").val(obj.param.nodeId);
                        $("#level").val(obj.param.level);
                    });
                });
            }

        })

        function iconPickerrender() {
            layui.use(['iconPicker'], function () {


                var iconPicker = layui.iconPicker;
                iconPicker.render({
                    // 选择器，推荐使用input
                    elem: '#icon',
                    // 数据类型：fontClass/unicode，推荐使用fontClass
                    type: 'fontClass',
                    // 是否开启搜索：true/false
                    search: false,
                    // 是否开启分页
                    page: true,
                    // 每页显示数量，默认12
                    limit: 12,
                    // 点击回调
                    click: function (data) {
                        console.log(data);
                        $("#icon").val(data.icon)
                    }
                });
            });
        }
        function Sava() {
            var IsMenu= $("input[name='IsMenu']:checked").val();
            if ($("#ParentId").val().trim() == '') {
                Mmsg('父节点为必填项！');
                return false;
            }
            if ($("#Name").val().trim() == '') {
                Mmsg('菜单名称为必填项！');
                return false;
            }
            if ($("#LinkAddress").val().trim() == '' && IsMenu == "1") {
                Mmsg('链接地址为必填项！');
                return false;
            }
            if (IsMenu == "0" && $("#ButtonId").val().trim() == '') {
                Mmsg('按钮ID为必填项！');
                return false;
            }

            var data = {
                Id: $("#Id").val(),
                Name: $("#Name").val().trim(),
                ParentId: $("#ParentId").val(),
                MenuType: $("#level").val(),
                LinkAddress: $("#LinkAddress").val(),
                Icon: $("#icon").val(),
                IsMenu: IsMenu,
                ButtonId: $("#ButtonId").val().trim(),
                ButtonCss: $("#ButtonCss").val().trim(),
                ButtonClick: $("#ButtonClick").val().trim()
            };
            $.ajax({
                type: "POST",
                url: "/Home/SavaMenu?state=" + state,
                data: { data: data },
                success: function (result) {
                    console.log(data);
                    if (result.res) {
                        Mmsg("操作成功!");
                        window.parent.layer.closeAll();//关闭弹窗
                    } else {
                        Mmsg("提交失败:" + result.info + "!");
                    }
                },
                error: function (result) {
                    Mmsg("出错，错误信息：" + result.data);
                    console.log("Error: " + result);
                }
            });
        }
    </script>

}



