
@{
    ViewBag.Title = "MenuMain";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="content" style="height: auto;">

    <div class="layui-row" style="margin-top:40px;"></div>
    <form class="layui-form" action="" id="from" onsubmit="return false;">
        <div class="layui-row">
            <div class="layui-col-xs1"> &nbsp;</div>
            <div class="layui-col-xs3">
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" id="Name" lay-verify="Name" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs3">
                <div class="layui-form-item">
                    <label class="layui-form-label">链接地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="LinkAddress" id="LinkAddress" lay-verify="LinkAddress" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button class="layui-btn" id="reload" data-type="reload" style="display:none;">
        <i class="layui-icon" style="font-size: 20px; ">&#xe654;</i> 搜索
    </button>
    <div style="margin-left:2%;margin-top:12px;width:96%">
        <table class="layui-hide" id="table" lay-filter="test"></table>
    </div>



</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
        })

        layui.config({
            base: '/lib'
        }).extend({
            treetable: '/treeTable/treeTable'
        }).use(['layer', 'table', 'treetable'], function () {
            var $ = layui.jquery;
            var table = layui.table;
            var layer = layui.layer;
            var treetable = layui.treetable;
            // 渲染表格
            var renderTable = function () {
                treetable.render({
                    treeColIndex: 1,
                    treeSpid: 0,
                    treeIdName: 'id',
                    treePidName: 'parentId',
                    treeDefaultClose: false,//是否默认折叠
                    treeLinkage: false,
                    toolbar: '#toolbarDemo',
                    method: "post",
                    elem: '#table',
                    url: '/Home/GetMenuList',
                    where: {
                        data: { is: "" }, page: 1, limit: 100
                    },
                    page: true,
                    limits: [20, 50, 100, 500, 800, 1000]
                    , title: '数据',
                    cols: [[
                        { type: 'checkbox', fixed: 'left' },
                        { field: 'name', title: '菜单名称	' },
                        { field: 'linkAddress', title: '链接地址' },
                        { field: 'icon', title: '图标', templet: '#Icon' },
                        {
                            field: 'IsEnable', title: '类型', templet: function (d) {
                                if (d.isMenu == 1) {
                                    return '<span class="layui-badge layui-bg-blue">菜单</span>';
                                } else {
                                    return '<span class="layui-badge layui-bg-green">按钮</span>';
                                }
                            }
                        }
                    ]],
                    done: function () {
                        layer.closeAll('loading');
                    }
                });
            };

            renderTable();

            $('#btn-expand').click(function () {
                treetable.expandAll('#table1');
            });

            $('#btn-fold').click(function () {
                treetable.foldAll('#table1');
            });



            $('#reload').on('click', function () {
                renderTable();
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'reload':
                        renderTable();
                        break;
                    case 'Add':
                        OpenFrom('reload', '新增', '/Home/MenuEdit?state=Add', '40%', '50%');
                        break;
                    case 'edit':
                        var data = checkStatus.data;
                        if (data.length < 1) {
                            Mmsg("未选择任何数据！");
                            return false;
                        }
                        if (data.length > 1) {
                            Mmsg("每次只能修改一条数据！");
                            return false;
                        }
                        console.log(data);
                        OpenFrom('reload', '编辑', '/Home/MenuEdit?state=Edit&Id=' + data[0].id + '', '40%', '50%');
                        break;
                    case 'reload':

                        $('#reload').click();
                        break;
                    case 'Delete':
                        var data = checkStatus.data;
                        if (data.length < 1) {
                            Mmsg("未选择任何数据！");
                            return false;
                        }
                        var Idstr = "";
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            Idstr += "" + checkStatus.data[i].id + ",";
                        }
                        Idstr = Idstr.substring(0, Idstr.length - 1);
                        layer.confirm('确认删除？', {
                            btn: ['确认', '取消'],
                            offset: '200px'
                        }, function (index) {
                            layer.close(index);
                            $.ajax({
                                type: "POST",
                                url: "/Home/SavaMenu?state=Delete",
                                data: { data: { Id: Idstr } },
                                success: function (resInfo) {
                                    if (resInfo.res) {
                                        Mmsg("删除成功 !");
                                        $("#reload").click();
                                    } else {
                                        Mmsg("删除失败:" + resInfo.info + " !");
                                    }
                                },
                                error: function (jqXHR) {
                                    Mmsg("系统繁忙 !");
                                    console.log("Error: " + jqXHR.status);
                                }
                            });
                        });
                        break;
                    case "setmenubutton":
                        var data = checkStatus.data;
                        if (data.length < 1) {
                            Mmsg("未选择任何数据！");
                            return false;
                        }
                        if (data.length > 1) {
                            Mmsg("每次只能选择一条数据！");
                            return false;
                        }
                        var MenuId = data[0].id;
                        var data = {
                            title: '按钮名称',
                            MenuId: MenuId
                        };
                        var datastr = JSON.stringify(data);
                        datastr = encodeURI(datastr);
                        layer.open({
                            type: 2,
                            title: "分配按钮",
                            shadeClose: false,
                            shade: 0.8,
                            maxmin: false, //开启最大化最小化按钮
                            area: ['60%', '80%'],
                            content: "/Home/CommonHelpView?Type=setmenubutton&Url=/Home/GettbButtonByMenuIdList&data=" + datastr,
                            btn: ['确定', '关闭'],
                            yes: function (index) {
                                var res = window["layui-layer-iframe" + index].callbackdata();
                                if (res.length < 1) {
                                    Mmsg("未选择任何数据！");
                                    return false;
                                }
                                var ButtonIdstr = "";
                                for (var i = 0; i < res.length; i++) {
                                    ButtonIdstr += res[i].Id + ','
                                }
                                ButtonIdstr = ButtonIdstr.substring(0, ButtonIdstr.length - 1);
                                console.log(res);
                                var data = {
                                    ButtonIdstr: ButtonIdstr,
                                    MenuId: MenuId
                                };
                                var ok = false;
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/SavatbMenuButton",
                                    data: data,
                                    async: false,
                                    success: function (resInfo) {
                                        console.log(resInfo);
                                        if (resInfo.res) {
                                            Mmsg("分配成功 !");
                                            ok = true;
                                        } else {
                                            Mmsg("分配失败:" + resInfo.info + " !");
                                            ok = false;
                                        }
                                    },
                                    error: function (jqXHR) {
                                        Mmsg("系统繁忙 !");
                                        console.log("Error: " + jqXHR.status);
                                    }
                                });
                                if (!ok) {
                                    return false
                                }
                                layer.close(index);
                                return;
                            },
                            end: function (e) {
                            }
                        });
                        break;
                };
            });
        });
    </script>
    <script type="text/html" id="Icon">
        {{#  if(d.icon=== ''){ }}
        <span style="color: #F581B1;"></span>
        {{#  } else { }}
        <i class="layui-icon {{ d.icon }}"></i>
        {{#  } }}
    </script>

}

