
@{
    ViewBag.Title = "Role_authorization";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<form class="layui-form">
    <div id="" class=""><ul id="checkbarTree2" class="dtree" data-id="0"></ul></div>
</form>
<div class="layui-row" style="margin-top:30px;">
    <div class="layui-col-xs2">&nbsp;</div>
    <div class="layui-col-xs5">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" id="Sava"> 保存</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="authorizationStr" />
@section scripts{
    <link href="~/lib/dtree/dtree/font/dtreefont.css" rel="stylesheet" />
    <link href="~/lib/dtree/dtree/dtree.css" rel="stylesheet" />
    <script type="text/javascript">
   
     
        $(function () {
            var Id = GetQueryString("Id");
            layui.extend({
                dtree: '/lib/dtree/dtree/dtree'
            }).use(['dtree'], function () {
                var element = layui.element,
                    layer = layui.layer,
                    form = layui.form,
                    dtree = layui.dtree,
                    $ = layui.$;
                dtree.render({
                    elem: "#checkbarTree2",
                    url: '/Home/GetRole_authorization?RoleId=' + Id,
                    checkbar: true,
                    initLevel: 3
                });

                dtree.on("chooseDone('checkbarTree2')", function (obj) {
                    //   layer.msg(JSON.stringify(obj.checkbarParams)); // 选中的所有复选框的参数
                    $("#authorizationStr").val(JSON.stringify(obj.checkbarParams));
                });
            });
            $("#Sava").click(function () {
                var authorizationStr = "";
                var authorization = eval($("#authorizationStr").val());
                for (var i = 0; i < authorization.length; i++) {
                    authorizationStr += authorization[i].nodeId + ",";
                }
                $.ajax({
                    type: "POST",
                    url: "/Home/Role_authorization",
                    data: { RoleId: Id, authorizationStr: authorizationStr.substring(0, authorizationStr.length - 1) },
                    success: function (resInfo) {
                        if (resInfo.res) {
                            Mmsg("分配成功！");
                            window.parent.layer.closeAll();//关闭弹窗
                        } else {
                            Mmsg("分配失败:" + resInfo.info + " !");
                        }
                    },
                    error: function (jqXHR) {
                        Mmsg("系统繁忙 !");
                        console.log("Error: " + jqXHR.status);
                    }
                });

            });

   
        })
    </script>
}
