
@{
    ViewBag.Title = "tbRoleMain";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="content" style="height: auto;">

    <div class="layui-row" style="margin-top:40px;"></div>
    <div class="layui-row">
        <div class="layui-col-xs1"> &nbsp;</div>
        <div class="layui-col-xs3">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="RoleName" id="RoleName" lay-verify="RoleName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <button class="layui-btn" id="reload" data-type="reload" style="display:none;">
        <i class="layui-icon" style="font-size: 20px; ">&#xe654;</i> 新增
    </button>
    <div style="margin-left:2%;margin-top:12px;width:96%">
        <table class="layui-hide" id="table" lay-filter="test"></table>
    </div>


</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            layui.use('table', function () {
                var table = layui.table, form = layui.form;
                table.render({
                    id: "testReload",
                    method: "post",
                    elem: '#table'
                  , url: '/Home/GettbRoleList'
                  , toolbar: '#toolbarDemo'
                  , limits: [20, 50, 100, 500, 800, 1000]
                  , title: '数据'
                  , cols: [[
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'roleName', title: '角色名称' },
                      { field: 'updateTime', title: '最后更新时间' },
                      { field: 'updateBy', title: '最后更新人' },
                      { field: 'description', title: '角色描述' }
                  ]], where: {
                      data: Getdata()
                  }
                  , page: true
                  , response: {
                      statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0

                  }
                  , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                      return {
                          "code": res.status, //解析接口状态
                          "msg": res.message, //解析提示文本
                          "count": res.total, //解析数据长度
                          "data": res.rows //解析数据列表
                      };
                  }
                });
                //监听锁定操作
                form.on('checkbox(lockDemo)', function (obj) {
                    layer.tips("")
                    //  layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                });

                var $ = layui.$, active = {
                    reload: function () {

                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                          , where: {
                              data: Getdata()
                          }
                        });
                    }
                };

                $('#reload').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });

                //头工具栏事件
                table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'Add':
                            OpenFrom('reload', '新增', '/Home/tbRoleEdit?state=Add', '40%', '70%');
                            break;
                        case 'edit':
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            if (data.length > 1) {
                                Mmsg("每次只能修改一条数据！");
                                return false;
                            }
                            console.log(data);
                            OpenFrom('reload', '编辑', '/Home/tbRoleEdit?state=Edit&Id=' + data[0].id , '40%', '80%');
                            break;
                        case 'reload':
                            $('#reload').click();
                            break;
                        case 'Delete':
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            var Idstr = "";
                            for (var i = 0; i < checkStatus.data.length; i++) {
                                Idstr += "" + checkStatus.data[i].id + ",";
                            }
                            Idstr = Idstr.substring(0, Idstr.length - 1);
                            layer.confirm('确认删除？', {
                                btn: ['确认', '取消'],
                                offset: '200px'
                            }, function (index) {
                                layer.close(index);
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/SavatbRole?state=Delete",
                                    data: { data: { Id: Idstr } },
                                    success: function (resInfo) {
                                        if (resInfo.res) {
                                            Mmsg("删除成功 !");
                                            $("#reload").click();
                                        } else {
                                            Mmsg("删除失败:" + resInfo.info + " !");
                                        }
                                    },
                                    error: function (jqXHR) {
                                        Mmsg("系统繁忙 !");
                                        console.log("Error: " + jqXHR.status);
                                    }
                                });
                            });
                            break;
                        case "Role_authorization":
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            if (data.length > 1) {
                                Mmsg("每次只能分配一个角色！");
                                return false;
                            }
                            OpenFrom('reload', '角色授权', '/Home/Role_authorization?Id=' + data[0].Id, '40%', '70%');
                            break;
                    };
                });

            });
        });


        function Getdata() {
            var data = {
                RoleName: $("#RoleName").val().trim()
            };
            return data;
        }
    </script>
    <script type="text/html" id="toolbarDemo">
        <button class="layui-btn" id="reload" data-type="reload" lay-event="reload">
            <i class="layui-icon">&#xe615;</i> 搜索
        </button>
        <button class="layui-btn" id="Add" data-type="Add" lay-event="Add">
            <i class="layui-icon">&#xe654;</i> 新增
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="edit">
            <i class="layui-icon">&#xe615;</i> 编辑
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="Delete">
            <i class="layui-icon">&#xe615;</i> 删除
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="Role_authorization">
            <i class="layui-icon">&#xe615;</i> 分配权限
        </button>
    </script>
}

