
@{
    ViewBag.Title = "tbUserMain";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div id="content" style="height: auto;">

    <div class="layui-row" style="margin-top:40px;"></div>
    <div class="layui-row">
        <div class="layui-col-xs1"> &nbsp;</div>
        <div class="layui-col-xs3">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-block">
                    <input type="text" name="AccountName" id="AccountName" lay-verify="AccountName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <button class="layui-btn" id="reload" data-type="reload" style="display:none;">
        <i class="layui-icon" style="font-size: 20px; ">&#xe654;</i> 新增
    </button>
    <div style="margin-left:2%;margin-top:12px;width:96%">
        <table class="layui-hide" id="table" lay-filter="test"></table>
    </div>


</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            layui.use('table', function () {
                var table = layui.table, form = layui.form;
                table.render({
                    id: "testReload",
                    method: "post",
                    elem: '#table'
                  , url: '/Home/GettbUserList'
                  , toolbar: '#toolbarDemo'
                  , limits: [20, 50, 100, 500, 800, 1000]
                  , title: '数据'
                  , cols: [[
                      { type: 'checkbox', fixed: 'left' },
                      { field: 'accountName', title: '登录名' },
                      { field: 'realName', title: '用户名称' },
                      { field: 'mobilePhone', title: '联系人手机' },
                      { field: 'email', title: '邮箱' },
                      {
                          field: 'isAble', title: '启用', templet: function (res) {
                              return '<input type="checkbox"   name="IsAble" lay-skin="switch" lay-filter="IsAble" lay-text="ON|OFF" ' + ((res.isAble) ?"checked":"")+'>'
                          }
                      },
                      { field: 'updateTime', title: '最后更新时间' },
                      { field: 'updateBy', title: '最后更新人' },
                      { field: 'description', title: '角色描述' }
                  ]], where: {
                      data: Getdata()
                  }
                  , page: true
                  , response: {
                      statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0

                  }
                  , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                      return {
                          "code": res.status, //解析接口状态
                          "msg": res.message, //解析提示文本
                          "count": res.total, //解析数据长度
                          "data": res.rows //解析数据列表
                      };
                  }
                });
                //监听锁定操作
                form.on('checkbox(lockDemo)', function (obj) {
                    layer.tips("")
                    //  layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                });

                var $ = layui.$, active = {
                    reload: function () {

                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                          , where: {
                              data: Getdata()
                          }
                        });
                    }
                };

                $('#reload').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });

                //头工具栏事件
                table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'Add':
                            OpenFrom('reload', '新增', '/Home/tbUserEdit?state=Add', '40%', '70%');
                            break;
                        case 'edit':
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            if (data.length > 1) {
                                Mmsg("每次只能修改一条数据！");
                                return false;
                            }
                            console.log(data);
                            OpenFrom('reload', '编辑', '/Home/tbUserEdit?state=Edit&Id=' + data[0].id + '', '40%', '80%');
                            break;
                        case 'reload':
                            $('#reload').click();
                            break;
                        case 'Delete':
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            var Idstr = "";
                            for (var i = 0; i < checkStatus.data.length; i++) {
                                Idstr += "" + checkStatus.data[i].id + ",";
                            }
                            Idstr = Idstr.substring(0, Idstr.length - 1);
                            layer.confirm('确认删除？', {
                                btn: ['确认', '取消'],
                                offset: '200px'
                            }, function (index) {
                                layer.close(index);
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/SavatbUser?state=Delete",
                                    data: { data: { Id: Idstr } },
                                    success: function (resInfo) {
                                        if (resInfo.res) {
                                            Mmsg("删除成功 !");
                                            $("#reload").click();
                                        } else {
                                            Mmsg("删除失败:" + resInfo.info + " !");
                                        }
                                    },
                                    error: function (jqXHR) {
                                        Mmsg("系统繁忙 !");
                                        console.log("Error: " + jqXHR.status);
                                    }
                                });
                            });
                            break;
                        case "Reset":
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            if (data.length > 1) {
                                Mmsg("每次重置一位用户！");
                                return false;
                            }
                            Id = checkStatus.data[0].id;
                            $.ajax({
                                type: "POST",
                                url: "/Home/SavatbUser?state=Reset",
                                data: { data: { Id: Id } },
                                success: function (resInfo) {
                                    if (resInfo.res) {
                                        Mmsg("重置密码成功 !");
                                        $("#reload").click();
                                    } else {
                                        Mmsg("重置密码失败:" + resInfo.info + " !");
                                    }
                                },
                                error: function (jqXHR) {
                                    Mmsg("系统繁忙 !");
                                    console.log("Error: " + jqXHR.status);
                                }
                            });
                            break;
                        case 'User_authorization_Roles':
                            var data = checkStatus.data;
                            if (data.length < 1) {
                                Mmsg("未选择任何数据！");
                                return false;
                            }
                            if (data.length > 1) {
                                Mmsg("每次只能修改一条数据！");
                                return false;
                            }
                            console.log(data);
                            var UserId = data[0].id;
                            var data = {
                                title: '角色名称',
                                UserId: UserId
                            };
                            var datastr = JSON.stringify(data);
                            datastr = encodeURI(datastr);
                            layer.open({
                                type: 2,
                                title: "分配角色",
                                shadeClose: false,
                                shade: 0.8,
                                maxmin: false, //开启最大化最小化按钮
                                area: ['60%', '80%'],
                                content: "/Home/CommonHelpView?Type=User_authorization_Roles&Url=/Home/GetUser_authorization&data=" + datastr,
                                btn: ['确定', '关闭'],
                                yes: function (index) {
                                    var res = window["layui-layer-iframe" + index].callbackdata();
                                    if (res.length < 1) {
                                        Mmsg("未选择任何数据！");
                                        return false;
                                    }
                                    if (res.length!= 1) {
                                        Mmsg("只能选择一个角色！");
                                        return false;
                                    }
                                    var RoleId = "";
                                    for (var i = 0; i < res.length; i++) {
                                        RoleId += res[i].id + ','
                                    }
                                    RoleId = RoleId.substring(0, RoleId.length - 1);
                                    console.log(res);
                                    var data = {
                                        RoleId: RoleId,
                                        UserId: UserId
                                    };
                                    var ok = false;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Home/User_tbUserRole",
                                        data: data,
                                        async: false,
                                        success: function (resInfo) {
                                            console.log(resInfo);
                                            if (resInfo.res) {
                                                Mmsg("分配成功 !");
                                                ok = true;
                                            } else {
                                                Mmsg("分配失败:" + resInfo.info + " !");
                                                ok = false;
                                            }
                                        },
                                        error: function (jqXHR) {
                                            Mmsg("系统繁忙 !");
                                            console.log("Error: " + jqXHR.status);
                                        }
                                    });
                                    if (!ok) {
                                        return false
                                    }
                                    layer.close(index);
                                    return;
                                },
                                end: function (e) {
                                }
                            });
                            break;
                    };
                });

            });
        });


        function Getdata() {
            var data = {
                AccountName: $("#AccountName").val().trim()
            };
            return data;
        }
    </script>
    <script type="text/html" id="toolbarDemo">
        <button class="layui-btn" id="reload" data-type="reload" lay-event="reload">
            <i class="layui-icon">&#xe615;</i> 搜索
        </button>
        <button class="layui-btn" id="Add" data-type="Add" lay-event="Add">
            <i class="layui-icon">&#xe654;</i> 新增
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="edit">
            <i class="layui-icon">&#xe615;</i> 编辑
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="Delete">
            <i class="layui-icon">&#xe615;</i> 删除
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="Reset">
            <i class="layui-icon">&#xe615;</i> 重置密码
        </button>
        <button class="layui-btn" id="edit" data-type="edit" lay-event="User_authorization_Roles">
            <i class="layui-icon">&#xe615;</i> 用户角色管理
        </button>
    </script>
}

