
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errors404</title>
    <link href="~/css/404.css" rel="stylesheet" />
</head>
<body>
    <div class="error_404">
        <div class="inner">
            @*<a href="/Home/Index" target="parent">返回首页</a>*@
        </div>
    </div>
</body>

</html>
