
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errors500</title>
    <link href="~/js/layui-v2.5.4/css/layui.css" rel="stylesheet" />
    <script src="~/js/layui-v2.5.4/layui.js"></script>
    <style type="text/css">
        .layadmin-tips {
            margin-top: 30px;
            text-align: center;
        }
            .layadmin-tips .layui-icon[face] {
                display: inline-block;
                font-size: 300px;
                color: #393D49;
            }
            .layadmin-tips .layui-text {
                width: 500px;
                margin: 30px auto;
                padding-top: 20px;
                border-top: 5px solid #009688;
                font-size: 16px;
            }
    </style>
</head>
<body>
    <div class="layui-fluid">
        <div class="layadmin-tips">
            <i class="layui-icon" face>&#xe664;</i>

            <div class="layui-text" style="font-size: 20px;">
                好像出错了呢
            </div>
        </div>
    </div>
</body>
</html>
